html, body {
    height: 100%;
}
body {
    background-color: rgba(228, 225, 186, 0.19);
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    min-height: 400px;
}
body > div, header, footer {
    padding: 30px;
}
header {
    background: white;
    background: url('../img/background.jpg');
    background-size: cover;
    background-position: top;
}
.logo {
    font-style: italic;
    font-size: 30px;
    display: inline-block;
}

.links {
    list-style-type: none;
    display: inline-block;
}
.links li {
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
}
.content {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -100px;

}
.content > h1:first-child {
    margin-top: 0;
}
footer, .space {
    height: 100px;
}
footer {
    background: #ffffff;
    color: #aaaaaa;
    width: 100%;
    text-align: center;
    font-style: italic;
}
footer > p {
    line-height: 20px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

footer a {
    color: #999999;
}
footer .light {
    color: #cccccc;
}

.top-buffer {
    margin-top: 100px;
}

.col-prefs {
    margin-top: 40px;
}


.yummly-id {
    width: 50%;
}
.input-lg {
    margin-bottom: 5px;
}
.meal-card {
    height: 300px;
    width: 400px;
    box-shadow: 0 0 5px #888888;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.meal-card-filter {
    background: -moz-linear-gradient(bottom,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(60%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 60%); /* IE10+ */
    background: linear-gradient(to top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    height: 100%;
    width:100%;
}
.meal-card-image {
    height: 100%;
    width:100%;
    background-size: cover;
    position: relative;
}
.meal-card-day, .meal-card-name, .meal-card-price {
    color: white;
    font-size: 20px;
    font-style: italic;
    margin: 5px;
    position: absolute;
}
.meal-card-name {
    bottom: 5px;
    left: 10px;
    max-width: 320px;
}
.meal-card-price {
    top: 0px;
    right: 10px;
    font-size: 32px;
    display: none;
}
.meal-card-day {
    font-style: normal;
    top: 0;
    margin: 0;
    padding: 2px 10px;
    border-radius: 0 0 10px 0;
    border: 1px solid #555555;
    left: 0;
    display: inline-block;
    background-color: #252525;
    font-size: 19px;
    opacity: .8;
}

.meal-card-factsheet {
    height: 0;
    overflow-y: scroll;
    background: white;
    display: none;
    z-index: 5;
    position: absolute;
    /*cursor: default;*/
    width: 100%;

}

.reroll {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.save {
    position: absolute;
    bottom: 10px;
    right: 60px;
}

.btn-ingredients {
    position: absolute;
    bottom: 10px;
    right: 110px;
}

#totalprice {
    font-size: 22px;
    right: 35px;
    top: 38px;
    position: absolute;
    color: #ccc;
}

#totalprice-label {
    font-size: 18px;
    margin-right: 10px;
    color: #ccc;
}

.preptime {
    float: right;
    position: relative;
    margin: 20px;

}

.preptime-icon {
    font-size: 18px;
    position: relative;
    top: 3px;
    left: -2px;
}

.ingredients-label {
    display: inline;
    top: 15px;
    left: 15px;
    position: relative;
    font-style: italic;
    /*font-weight: bold;*/
    font-size: 22px;
}
input, label {
    max-width: 600px;
}