body {
    background-color: rgba(228, 225, 186, 0.19);
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    min-height: 400px;
}
body > div, header, footer {
    padding: 30px;
}
header {
    background: white;

}
.logo {
    font-style: italic;
    font-size: 30px;
    display: inline-block;
}

.links {
    list-style-type: none;
    display: inline-block;
}
.links li {
    display: inline-block;
    margin-right: 40px;
    font-size: 20px;
}
.content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: #ffffff;
    color: #cccccc;
    height: 100px;
    width: 100%;
    text-align: center;
    font-style: italic;
}
footer > p {
    line-height: 40px;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

footer a {
    color: #aaaaaa;
}
input[type=number] {
    width: 80px;
}


.top-buffer {
    margin-top: 100px;
}

.col-prefs {
    margin-top: 40px;
}

.btn-prefs {
    width: 50%;
}
.btn-group {
    width: 60%;
}

.btn-submit {
    border-color: #888;
}

.yummly-id {
    width: 50%;
}
.input-lg {
    margin-bottom: 5px;
}
.meal-card {
    height: 400px;
}
