{% extends "base_layout.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block page_content %}

    
<h1>About</h1>
<div style="line-height:2.5em;">
<p>Every knows it's important to eat healthy but the hard part is finding both tasty and healthy food.</p>

<p>The Pantry simplifies this process by suggesting healthy dinner plans for your entire week and creates your once a week grocery list.</p>

<p>How it Works:</p>

<ol>
<li>You enter your data and preferences</li>

<li>The pantry choosing the best combination of tasty healthy meals for your lifestyle</li>

<li>The recipes and ingridients are exported to Evernote, for easy offline access</li>
</ol>

<p>Happy Cooking,<br>

The Pantry Team</p>

</div>
{% endblock %}
