{% extends "internal_layout.html" %}
{% block internal_content %}
<!-- Main component for a primary marketing message or call to action -->
    <div class="container-fluid">

        <div class="row">
            {% for plan in meal_plans %}
                <div class="col-md-4 meal-card">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ plan.day }}</h3>
                        </div>
                        <div class="panel-body">
                            <img src="{{ plan.image_url }}" class="img-thumbnail img-responsive">
                            <br>
                            <a class="btn btn-danger btn-block">Reroll</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-4 meal-card">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tuesday</h3>
                    </div>
                    <div class="panel-body">
                            <img src="holder.js/350x200" class="img-thumbnail img-responsive">
                            <br>
                            <a class="btn btn-danger btn-block">Reroll</a>
                        </div>
                </div>
            </div>
            <div class="col-md-4 meal-card">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Wednesday</h3>
                    </div>
                    <div class="panel-body">
                        <img src="holder.js/350x200" class="img-thumbnail img-responsive">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Export to Evernote</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div><!-- /container-fluid -->
{% endblock %}