{% extends "base_layout.html" %}
{% block custom_css %}
<style>
h1 {
    margin-top: 0;
    margin-bottom: 30px;
}
.row .col-md-4 {
    min-width: 400px;
}
.top-row {
    display: inline-block;
}
.evernote {
    float: right;

}
</style>
{% endblock %}
{% block page_content %}
<!-- Main component for a primary marketing message or call to action -->
<div>
    <h1 class="top-row">{{username}}, here is your weekly plan.</h1>
    <button class="top-row evernote btn btn-success">Export ingredients to Evernote <span class="glyphicon glyphicon-check"></span></button>
</div>
    <div class="container-fluid">
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="meal-card">
                        <div class="meal-card-image card-{{ recipe.day_no }}" style="background-image: url('{{ recipe.image_url }}');">
                            <div class="meal-card-filter">
                                <div class="meal-card-factsheet">
                                    <div class="ingredients-label">Ingredients</div>
                                    <div class="preptime">
                                        <span class="glyphicon glyphicon-time preptime-icon"></span>
                                        <b>{{ recipe.prep_time }}</b> mins
                                    </div>
                                    <table class="table table-hover">
                                    {% for ingredient in recipe.ingredient_lines %}
                                        <tr>
                                            <td>
                                                {{ ingredient }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                                <span class="meal-card-day card-{{ recipe.day_no }}">{{ recipe.day }}</span>
                                <span class="meal-card-name card-{{ recipe.day_no }}">{{ recipe.name }}</span>
                                <!--<button class="btn btn-info btn-ingredients"><span class="glyphicon glyphicon-list"></span></button>-->
                                <span class="meal-card-price card-{{ recipe.day_no }}" id="pricetag">$<span class="num">{{ recipe.price }}</span></span>
                                <button title="Try something else" class="btn btn-danger reroll reroll-{{ recipe.day_no }}" day_no="{{ recipe.day_no }}"><span class="glyphicon glyphicon-refresh"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!-- /container-fluid -->

{% endblock %}
{% block extrascript %}

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $(".meal-card").mouseenter(function () {
        $(this).find(".meal-card-filter").animate({"background-color": "rgba(0,0,0,0.4)"}, 400);
        $(this).find(".meal-card-price").stop().fadeIn(100);
    }).mouseleave(function () {
        $(this).find(".meal-card-filter").stop().css({"background": "linear-gradient(to top, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 60%)"});
        $(this).find(".meal-card-price").fadeOut(600);
    });
    $(".meal-card").click(function() {
        $(this).find(".meal-card-factsheet").show().animate({height: "100%"});
    });

    $(".meal-card-factsheet").click(function() {
        $(this).animate({height: 0});
        return false;
    });

    $(".save, .reroll").click(function() {
        return false;
    });


});
</script>

{% endblock %}
{% block totalprice %}
<span id="totalprice"><span id="totalprice-label">Weekly total</span> $<span id="totalpriceval">{{total_price}}</span></span>
{% endblock %}
