{% extends "base_layout.html" %}
{% block page_content %}
<!-- Main component for a primary marketing message or call to action -->
    <div class="container-fluid">
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="meal-card">
                        <div class="meal-card-image card-{{ recipe.day_no }}" style="background-image: url('{{ recipe.image_url }}');">
                            <div class="meal-card-filter">
                                <span class="meal-card-day card-{{ recipe.day_no }}">{{ recipe.day }}</span>
                                <span class="meal-card-name card-{{ recipe.day_no }}">{{ recipe.name }}</span>
                                <button class="btn btn-success save"><span class="glyphicon glyphicon-heart-empty"></span></button>
                                <button class="btn btn-danger reroll reroll-{{ recipe.day_no }}" day_no="{{ recipe.day_no }}"><span class="glyphicon glyphicon-refresh"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!-- /container-fluid -->
{% endblock %}
