{% extends "base_layout.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block page_content %}
    <h1>Your all-in-one food solution.</h1>
    <h4>The Pantry plans healthy meals for you based on your age and gender. It makes sure that you get the nutrients you need, from all the right food groups, in recommended proportions.</h4>
    <form method="post" action="dashboard/">
        <div class="form-group">

            <div class="row">
                <div class="col-md-6 col-prefs text-center">
                    <label for="formGroupInputLarge">
                    Age
                    </label>
                </div>
                <div class="col-md-6 col-prefs">
                    <label>
                        <input type="text" class="form-control input" placeholder="" name="age">
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-prefs text-center">
                    <label for="formGroupInputLarge">
                    Gender
                    </label>
                </div>
                <div class="col-md-6 col-prefs">
                    <div class="btn-group btn-group-prefs" data-toggle="buttons">
                        <label class="btn btn-default btn-prefs">
                            <input type="radio" name="gender" value="m">Male
                        </label>
                        <label class="btn btn-default btn-prefs">
                            <input type="radio" name="gender" value="f">Female
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-prefs text-center">
                    <label for="formGroupInputLarge">
                    Style
                    </label>
                </div>
                <div class="col-md-6 col-prefs">
                    <div class="btn-group btn-group-prefs" data-toggle="buttons">
                        <label class="btn btn-default btn-prefs">
                            <input type="radio" name="taste" value="normal">
                            Classic
                        </label>
                        <label class="btn btn-default btn-prefs">
                            <input type="radio" name="taste" value="vegetarian">
                            Vegetarian
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
        <div class="form-group top-buffer text-center">
            <button type="submit" class="btn btn-lg btn-submit">Make my week</button>
        </div>

        {% csrf_token %}
    </form>
{% endblock %}
