{% extends "base_layout.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block custom_css %}
<style>
body {
    background-color: transparent;
    background-image: url('{% static "img/background.jpg" %}');
}
header {
    background-image: url('{% static "img/shade.png" %}');
    background-size: auto;
    background-position: bottom;
}
.content {
    background-image: url('{% static "img/shade.png" %}');
}
.content .container {
    max-width: 800px;
    color: white;
}
.content form {
    color: #444444;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 30px;
    margin-bottom: 30px;
}
form {
    text-align: center;
}
.btn-group {
    width: 200px;
}
.row {
    margin-bottom: 30px;
    margin-top: 30px;
}
</style>
{% endblock %}

{% block page_content %}
<div class="container">
    <h1>Pantry tells you what to cook.</h1>
    <h3>Get personalized meals based on your age and gender. All the right food groups, in recommended proportions.</h3>

    <form method="post" action="dashboard" class="info">

            <div class="row">
                <label>
                    <input type="number" min="5" class="form-control input" placeholder="Age" name="age">
                </label>
                <div class="btn-group btn-group-prefs" data-toggle="buttons">
                    <label class="btn btn-default btn-prefs">
                        <input type="radio" name="gender" value="m">Male
                    </label>
                    <label class="btn btn-default btn-prefs">
                        <input type="radio" name="gender" value="f">Female
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="btn-group btn-group-prefs" data-toggle="buttons">
                    <label class="btn btn-default btn-prefs">
                        <input type="radio" name="style" value="classic">
                        Everything
                    </label>
                    <label class="btn btn-default btn-prefs">
                        <input type="radio" name="style" value="vegetarian">
                        Vegetarian
                    </label>
                </div>
            </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-lg btn-submit">Plan my life!</button>
        </div>

        {% csrf_token %}
    </form>
    <h1></h1>
</div>
{% endblock %}
