

<h4>Pantry simplifies your life by taking care of your food needs. We generate a meal plan for you that balances your budget with a variety of healthy foods which meet expert-recommended daily and weekly nutrition goals.</h4>

<h2>How it Works:</h2>
<h4>1. Enter basic information, like how many people you cook for.</h4>
<h4>2. Instantly get your meals assigned to you. (Customize them afterwards if you want).</h4>
<h4>3. Get your ingredients delivered to you, via local services. (or get a shopping list pushed to your phone)</h4>


<h2>Welcome to a simpler life.</h2>

<h3><italic>The Pantry Team</italic></h3>