{% extends "base_layout.html" %}
{% load staticfiles %}

{% block page_content %}
    <h1>Make The Pantry better.</h1>
    <h4>We'd like to know which recipes you want to see on the site.</h4>
    <h4>Improve our recipes and ingredient database by adding recipes and preparation steps from Yummly.</h4>

    <h2>Add a recipe</h2>
    <form action="/improve" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control input-lg yummly-id" placeholder="Yummly Recipe ID / URL" name="yummly-id"></label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Preparation Step 1" name="step-1"></label>
            <input type="text" class="form-control input-lg" placeholder="Step 2 (optional)" name="step-2"></label>
            <input type="text" class="form-control input-lg" placeholder="Step 3 (optional)" name="step-3"></label>
            <input type="text" class="form-control input-lg" placeholder="Step 4 (optional)" name="step-4"></label>
            <input type="text" name="price" class="form-control input-lg" placeholder="price">
            <label class="btn btn-default btn-prefs" data-toggle="checkbox">
                <input type="checkbox" name="meal_is_vegetarian" value="vegetarian">
                Vegetarian
            </label>

        </div>
        <div class="form-group">
            <input type="submit" class="submit btn yummly-submit">
        </div>
    </form>

{% endblock %}

{% block extrascript %}
{% if show_success or show_error or show_already %}
    <script type="application/javascript">
        $(document).ready(function() {
            // create an message bar instance
            var msgBar = new MessageBar();

            // initialize it, it will create a message bar dom for later interact.
            msgBar.initialize();
            {% if show_success %}
                msgBar.success('Recipe added!');
            {% elif show_error %}
                    msgBar.alert("The recipe doesn't have enough data. Please try a different one!");
            {% else %}
                msgBar.show("We already have that recipe!");
            {% endif %}
        });
    </script>
{% endif %}
{% endblock %}